<output class="input">
  <div class="stack">
    <mat-action-list>
      <button (click)="editStackEntry(stackEntry)"
              *ngFor="let stackEntry of resultStack(); let stackEntryIndex = index"
              [class.last-entry]="stackEntryIndex === resultStack().length-1"
              mat-list-item>
        {{ stackEntry.stackId }}={{ stackEntry.expression }} <br/>
        {{ stackEntry.result }}
      </button>
    </mat-action-list>
  </div>

  <input class="current"
         type="text"
         inputmode="none"
         (ngModelChange)="this.currentExpression.set($event) ; this.evaluate()"
         [ngModel]="this.currentExpression()"
         #currentExpressionInput
  >
</output>
<output class="result"
        [class.result-error]="currentResultHasError()">
  {{ (format(currentResult())) ?? '&nbsp;' }}
</output>

<div class="keys">
  <ng-container *ngFor="let keyLine of getCurrentKeypad()">
    <app-key *ngFor="let key of keyLine"
             (call)="enter(key)"
             [class.no-border]="key.noBorder()"
             [readOnly]="key.readOnly()"
             [triggerOnUp]="triggerOnUp()">
      <mat-icon *ngIf="key.icon() != null">{{ key.icon() }}</mat-icon>
      <label *ngIf="key.label().length > 0">{{ key.label() }}</label>
    </app-key>
  </ng-container>
</div>
