:host {
  width: 100%;

  height: var(--max-height);
  max-height: var(--max-height);
  overflow: hidden;

  padding: 1rem;

  display: flex;
  flex-direction: column;
}

output.input {
  flex-grow: 1;
  flex-shrink: 1;

  border: solid 1px var(--foreground-color);
  border-radius: 0.5rem;
  width: 100%;

  overflow: hidden;

  padding: 0.50rem;

  display: flex;
  flex-direction: column;

  & .stack {
    overflow-x: hidden;
    overflow-y: auto;

    flex-grow: 1;
    flex-shrink: 1;

    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    & app-key {
      padding: 0.25rem;

      height: fit-content;

      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  & .current {
    flex-grow: 0;
    flex-shrink: 0;

    border: none;

    background-color: var(--background-color);
    color: var(--foreground-color);

    width: 100%;

    text-align: right;

    font-weight: bold;
    font-size: 2rem;
  }
}

output.result {
  flex-grow: 0;
  flex-shrink: 0;

  width: 100%;
  text-align: right;

  font-weight: bold;
  font-size: 2rem;

  &.result-error {
    color: var(--error-color);
  }
}

.keys {
  flex-grow: 0;
  flex-shrink: 0;

  padding-top: 1rem;
  padding-bottom: 1rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;


  app-key {
    height: 3rem;
    border-radius: 0.5rem;

    &.no-border {
      background-color: unset;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    & > label {
      text-align: center;
    }
  }
}
