@use 'scss-reset/reset';
@use '@angular/material' as mat;

@import 'material-icons/iconfont/material-icons.css';

@include mat.core();

$angular-primary: mat.define-palette(mat.$indigo-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
    (
      color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    )
);

$angular-dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    )
);

$my-custom-level: mat.define-typography-level(
  $font-family: system-ui,
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);

@media (prefers-color-scheme: dark) {
  @include mat.all-component-colors($angular-dark-theme);

  html {
    --background-color: black;
    --foreground-color: white;
    --error-color: red;
    --ripple-color: white;
    --key-background-color: #7a7a7a;
    --key-foreground-color: white;
  }
}

@media (prefers-color-scheme: light) {
  @include mat.all-component-themes($angular-default-theme);

  html {
    --background-color: white;
    --foreground-color: black;
    --error-color: red;
    --ripple-color: black;
    --key-background-color: lightgray;
    --key-foreground-color: black;
  }
}

* {
  user-select: none;
}

html {
  background-color: var(--background-color);
  color: var(--foreground-color);

  --max-height: 100dvh;

  font-family: system-ui, sans-serif;
  font-size: 16px;
  font-weight: 400;

  height: var(--max-height);
  max-height: var(--max-height);
  overflow: hidden;
}

body {
  height: var(--max-height);
  max-height: var(--max-height);
  overflow: hidden;

  display: grid;
}
