:host {
  display: block;

  position: relative;
  overflow: hidden;

  background-color: var(--key-background-color);
  color: var(--key-foreground-color);

  &:not(.read-only) {
    cursor: pointer;
  }
}
