:host {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content;
  grid-gap: 1rem;

  .fontSize {
    min-width: max-content;
    max-width: max-content;
  }
}
