<h1 mat-dialog-title>
  Settings
</h1>

<div mat-dialog-content>
  <form class="settings">
    <label>Version:</label>
    <output>
      {{ version() }}
    </output>

    <label>Font size:</label>
    <mat-button-toggle-group (ngModelChange)="fontSize.set($event) ; updateFontSize($event)"
                             [ngModelOptions]="{standalone: true}"
                             [ngModel]="fontSize()"
                             class="fontSize">
      <mat-button-toggle [style.font-size]="'12px'" [value]="12">A</mat-button-toggle>
      <mat-button-toggle [style.font-size]="'14px'" [value]="14">A</mat-button-toggle>
      <mat-button-toggle [style.font-size]="'16px'" [value]="16">A</mat-button-toggle>
      <mat-button-toggle [style.font-size]="'20px'" [value]="20">A</mat-button-toggle>
      <mat-button-toggle [style.font-size]="'24px'" [value]="24">A</mat-button-toggle>
    </mat-button-toggle-group>

    <label>Trigger:</label>
    <output>
      <mat-checkbox
        (ngModelChange)="triggerOnKeyup.set($event) ; updateTriggerOnKeyup($event)"
        [ngModelOptions]="{standalone: true}"
        [ngModel]="triggerOnKeyup()">on key-up
      </mat-checkbox>
    </output>
  </form>

</div>

<div mat-dialog-actions>
  <button (click)="checkForUpdate()" *ngIf="swUpdateEnabled" mat-raised-button>CheckForUpdate</button>
  <button color="primary" mat-raised-button matDialogClose>Close</button>
</div>
